body {
  font-family: cooper-black-std, serif;
  font-weight: 400;
  margin: 0px;
}

h1 {
  font-size: xx-large;
}

.flexible-container {
  display: flex;
}

/* Classes  */

.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.half-width {
  width: 50%;
  padding: 2%;
}

.half-width img {
  width: 90%;
}

.link-button {
  display: inline-block;
  /* margin-top: 5px; */
  text-decoration: none;
  font-weight: 700;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 20px;
  color: white;
  background-color: orange;
  border-radius: 10%;
}

.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

.orange-color {
  color: orange;
}
